<section id="about-section">
  <p>
    The Assessment App is a web application made to ease the submission of reports by various departments and colleges to the office of assessment at UNM.
  </p>
</section>
