<section>
  <div class="box-msg-2">
    <% @assessment_types.each do |assessment_type| %>
      <div class="col-sm-3">
        <div class="card card-block">
          <h4 class="card-title"><%= assessment_type.name %></h4>
          <p class="card-text"><%= assessment_type.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
