<section class="container-fluid">
  <div class="box-msg-2 row">
    <h2 class="page-header">Assessment Reports</h2>
    <% @assessment_types.ar.each do |assessment_type| %>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title"><%= assessment_type.name %></h4>
          <p class="card-text"><%= assessment_type.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="box-msg-2 row">
    <h2 class="page-header">Assessment Plans</h2>
    <% @assessment_types.ap.each do |assessment_type| %>
      <div class="col-sm-4">
        <div class="card card-block">
          <h4 class="card-title"><%= assessment_type.name %></h4>
          <p class="card-text"><%= assessment_type.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
