<section id="home">

<ul>
<li class="assementunits"><%= link_to "assessment_units", assessment_units_path%></li>
<li class="assessment_type"><%= link_to "assessment_types", assessment_types_path%></li>
<li class="assessment_type"><%= link_to "assessment_subtypes", assessment_subtypes_path%></li>
</ul>

</section>
