<div class="container-fluid" id="home-jumbo-box">
<%= image_tag "http://www.unm.edu/assets/img/unm-full.gif" %>
  <div class="box-msg">

    <div id="welcome-msg">

     <h1>Office of Assessment</h1>
     <h4>The application for submitting and reviewing assessment reports and plans.</h4>
   </div>
  </div>
</div>
